@import 'palette.css';

.container {
	width:100vw;
	height:100vh;
	margin:0;
}

.screen {
	
}

.nav-button {
	background:none;
	border:none;
	font-size:2rem;
	cursor:pointer;
}

.nav-button:hover {
	color: var(--focus);
}
